---
layout: default
---

<div class="BlueBlack">
  <h1 style="font-family:'Times New Roman';font-size:50px;font-weight:700">Brain Dynamics Toolbox</h1>
  <p style="font-size:18px;padding:0px 10px 30px 10px">Open software for simulating dynamical systems in neuroscience</p>
  <button class="bannerbutton">
  Download Version 2021a
  </button>
  <a href="https://zenodo.org/record/5626265/files/bdtoolbox-2021a.zip?download=1" target="_blank" rel="noopener"></a>
  <!-- <a href="https://zenodo.org/record/5626265/files/bdtoolbox-2021a.zip?download=1" class="bannerbutton">Link Button</a> -->
</div>

<div class="home">
  {{ content }}
</div>
